{% extends "template.html" %} {% block body %}

<div class="w3-container w3-center">      
    <h2>API/ Code analysis</h2>
    <!-- <p>xxxxxxx</p> -->
    <!-- <br>
    <form action="/result" method="POST" style="width:80%;max-width:320px;margin: 0 auto;">
        <input type="text" name="url" id="url" placeholder="Enter URL / API Endpoint here" class="w3-input" required><br>
        <button type="submit" class="w3-button w3-theme">Analyse</button>
    </form> -->
</div>

<div class="w3-center">
    <div class="w3-row w3-border">
        <!-- <div class="w3-half w3-container w3-border-right"> -->
            <h3>Analyse from URL</h3><br>
            <i class="fa fa-desktop w3-margin-bottom w3-text-theme" style="font-size:120px"></i>
                <form action="/result" method="POST" style="width:80%;max-width:320px;margin: 0 auto;">
                    <input type="text" name="url" id="url" placeholder="Enter URL / API Endpoint here" class="w3-input" required><br>
                    <input type="submit" name="action" class="w3-button w3-theme" value="Submit_Url">
                </form>
        <!-- </div> -->

        <!-- <div class="w3-half w3-container w3-border-left w3-center">
            <h3>Code Analysis</h3><br>
            <i class="fa fa-css3 w3-margin-bottom w3-text-theme" style="font-size:120px"></i>
                <form action="/result_codeAnalysis" method="POST" style="width:100%;">
                    <label for="code">Paste Your Code:</label><br>
                    <textarea id="code" name="code" rows="10" cols="50" style="width: max-content;"></textarea>
                    <br>
                    <br>
                    <br>
                    <input type="submit" name="action" class="w3-button w3-theme" value="Submit_File">
                </form>
        </div> -->
    </div>
</div>



{% endblock %}