{% extends "template.html" %} {% block body %}

<head>
    <meta http-equiv="refresh" content="120">
</head>


<h2>Registered Student List</h2>
<p>Records of student that already registered in the system</p>
<div class="w3-container w3-center"  style="margin-bottom: 50px;">  
    <div class="w3-container">
        <p>{{studentID}} </p>
        <p>{{moduleCode}}</p>
        <p>{{macAddress}}</p>
    </div>

    <div class="w3-container">
        <table class="w3-table-all w3-card-4" id="registrationTable">
            <thead>
                <tr class="w3-blue">
                    <th>Student ID</th>
                    <th>Module Code</th>
                    <th>MAC Address</th>
                    <th>Registered On</th>
                </tr>
            </thead>
            <tbody>
                {% for record in data %}
                <tr>
                    <td>{{ record.studentID }}</td>
                    <td>{{ record.moduleCode }}</td>
                    <td>{{ record.macAddress }}</td>
                    <td>{{ record.registeredOn }}</td>
                </tr>
                {% endfor %}
                {% if not data %}
                <tr>
                    <td colspan="3">No data found.</td>
                </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
</div>


<h2>Network Check List</h2>
<p>Record of checking MAC address that student registed with network scanning records</p>
<p></p>
<p><span style="color:green;font-weight:bold">Green</span> - registered by student and appear in network scan record</p>
<p><span style="color:red;font-weight:bold">Red</span> - registered by student but not appear in network scan record</p>
<p><span style="color:orange;font-weight:bold">Orange</span> - not registered by student but appear in network scan record</p>

<div class="w3-container w3-center">
    <div class="w3-container">
        <table class="w3-table-all w3-card-4" id="checkingTable">
            <thead>
                <tr class="w3-blue">
                    <th>MAC Address</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                {% for record in checkingData %}
                <tr bgcolor="{{ 'green' if record.status == '1' else 'red' if record.status == '2' else 'orange' if record.status == '3' else 'white' }}">
                    <td>{{ record.macAddress }}</td>
                    <td>{{ record.status }}</td>
                </tr>
                {% endfor %}
                {% if not data %}
                <tr>
                    <td colspan="3">No data found.</td>
                </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
</div>

</div>
{% endblock %}