{% extends "template.html" %} {% block body %}

<style>
    form {
        max-width: 700px;
        margin: 0 auto;
    }
</style>

<div class="w3-container w3-center">      
    <h2>Register</h2>
    <p>xxxxxxx</p>

</div>
<div class="w3-container w3-center">  
    <div class="w3-container w3-center">
        <h2 class="w3-center" style="justify-content: center; display: flex;">Registration Form</h2>

        <form class="w3-container w3-card-4">
            <h2>Input Form</h2>
            <div class="w3-section">      
                <input class="w3-input" type="text" required>
                <label>Student ID</label>
            </div>
            <div class="w3-section">      
                <input class="w3-input" type="text" required>
                <label>Module Code</label>
            </div>
            <div class="w3-section">      
                <input class="w3-input" type="text" required>
                <label>MAC address</label>
            </div>
            <div class="w3-section"> 
                <button class="w3-btn w3-theme" onclick="move()">Register</button> 
            </div>
        </form>
    </div> 
</div>


{% endblock %}