{% extends "template.html" %} {% block body %}

<style>
    form {
        max-width: 700px;
        margin: 0 auto;
    }
</style>

<div class="w3-container w3-center">      
    <h2>Registration</h2>
    <p>Student can register their information for examination and quiz</p>

</div>
<div class="w3-container w3-center">  
    <div class="w3-container w3-center">
        <h2 class="w3-center" style="justify-content: center; display: flex;">Registration Form</h2>

        <form class="w3-container w3-card-4" action="/register-list" method="POST" id="registrationForm">
            <h2>Input Form</h2>
            <div class="w3-section">      
                <input class="w3-input" id="studentID" name="studentID" type="text" pattern="[a-zA-Z0-9]{8}" required title="Please enter valid Student ID" required>
                <label>Student ID</label>
            </div>
            <div class="w3-section">      
                <input class="w3-input" id="moduleCode" name="moduleCode" type="text" pattern="[a-zA-Z0-9]{8}" required title="Please enter valid Module Code" required>
                <label>Module Code</label>
            </div>
            <div class="w3-section">      
                <input class="w3-input" id="macAddress" name="macAddress" type="text" pattern="([0-9A-Fa-f]{2}[:-]){5}([0-9A-Fa-f]{2})" required title="Please enter valid Mac Address. E.g. 01:23:45:67:89:ab" required>
                <label>MAC address</label>
            </div>
            <div class="w3-section"> 
                <!-- <input class="w3-btn w3-theme" type="submit" name="action" value="Register"> -->
                <button class="w3-btn w3-theme" type="submit">Register</button>
            </div>
        </form>
    </div> 
</div>

<script>
const form = document.getElementById("registrationForm");

form.addEventListener("submit", async (event) => {
  event.preventDefault(); // prevent default form submission

  const formData = new FormData(form); // collect form data
  const data = Object.fromEntries(formData.entries());

  const response = await fetch("/save-registration-data", {
    method: "POST",
    headers: {
      "Content-Type": "application/json",
    },
    body: JSON.stringify(data), // send data as JSON
  });

  if (response.ok) {
    window.location.href = "/register-list";
  }
});
</script>
{% endblock %}