<html>
<!-- This is the template file. Any code written here will automatically be carried onto the files that extend from this file(eg: home.html, account.html) -->
<head>
    <link rel="stylesheet" href="../static/style.css">
    <title>API Security Learning Portal</title>
</head>

<body>
    <div>
        <center>
            <h1 style="font-family:verdana;">API Security Learning Portal</h1>
            <p>Educational Purposes</p>
        </center>

    </div>
    <div>
        <center>
            {% block body %} {% endblock %}
        </center>
    </div>
</body>

</html>