<html>
<!-- This is the template file. Any code written here will automatically be carried onto the files that extend from this file(eg: home.html, account.html) -->

<!-- Navigation Bar -->
<div class="w3-bar w3-white w3-large">
    <a href="#" class="w3-bar-item w3-button w3-red w3-mobile"><i class="fa fa-user-secret w3-margin-right"></i>Learning Portal</a>
    <a href="{{ url_for('home') }}" class="w3-bar-item w3-button w3-mobile">Home</a>
    <a href="{{ url_for('register') }}" class="w3-bar-item w3-button w3-mobile">Registration</a>
    <a href="{{ url_for('admin') }}" class="w3-bar-item w3-button w3-mobile">Administration(For Admin)</a>
</div>


<head>
    <!-- <link rel="stylesheet" href="../static/style.css"> -->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-indigo.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
</head>

<!-- Header -->
<header class="w3-container w3-theme w3-padding" id="myHeader">
    <div class="w3-center">

        <h1 class="w3-xxxlarge w3-animate-bottom">API Security Learning Portal</h1>
        <h4>Educational Purposes</h4>
        
    </div>
</header>

<body>
    <div>
        <center>
            {% block body %} {% endblock %}
        </center>
    </div>
</body>
</html>